<div class="wrapper">
  <app-navigation></app-navigation>
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <div class="container">
      <div class="page-inner">
        <div class="page-header">
          <h4 class="page-title">Assigning Admin</h4>

        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex align-items-center form-group">
                    <label class="mr-2" for="gsearch">Search :</label>
                    <input class="form-control mr-5"  type="search" id="gsearch" name="gsearch" [(ngModel)]="search" />

                  <br />

                  <button class="btn btn-primary btn-round  mr-2 ml-5" [routerLink]="['/sadmin/addAdmin']"
                    routerLinkActive="router-link-active" data-toggle="modal" data-target="#addRowModal">
                    <i class="fa fa-plus"></i>
                    Add Admin
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table id="add-row" class="display table table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Role Name</th>
                        <th>Email</th>
                        <th>Organization</th>
                        <th style="width: 10%;">Action</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let admin of admins | search: search">
                        <!-- <div *ngFor="let "></div> -->
                        <td>{{ admin.Admin.name }}</td>
                        <td>{{ admin.Admin.role }}</td>

                        <td>{{admin.Admin.email}}</td>

                        <td>{{ admin.Admin.orgName }}</td>
                        <td>
                          <div class="form-button-action">
                            <!-- <button type="button" data-toggle="tooltip" data-target="#upmodel" data-toggle="modal"
                              (click)="toUpdate(admin)" class="btn btn-link btn-primary btn-lg"
                              data-original-title="Edit Task">
                              <i class="fa fa-edit"></i>
                            </button> -->
                            <button type="button" data-toggle="modal" data-target="#modelId" title=""
                              (click)="deleteAdmin(admin._id)" class="btn btn-link btn-danger"
                              data-original-title="Remove">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Custom template -->
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade right side-modal" id="upmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-side modal-top-right" role="document">
    <div class="modal-content">
      <div style="background-color: rgb(18, 47, 86);" class="modal-header">
        <h2 class="modal-title w-100 text-white" id="myModalLabel">
          Edit Subscriber Details
        </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input style="display: none;" name="_id" ngModel="{{adDetail._id}}" />
            <input class="form-control" name="adName" ngModel="{{adDetail.name}}" />
          </div>
          <div class="form-group" >
            <label>Email</label>
            <input class="form-control" name="email" ngModel="{{adDetail.email}}" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Save Changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete modal -->
<div class="modal fade" id="modelId">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Video</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i class="fa fa-exclamation-triangle text-danger"></i>&nbsp;Are Your
        Sure To Delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          Close
        </button>
        <button (click)="finalDelete()" data-dismiss="modal" type="button" class="btn btn-danger">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
