<div class="wrapper">
    <app-iuser-navigation></app-iuser-navigation>>
    <!-- Sidebar -->
    <app-iuser-sidebar></app-iuser-sidebar>
    <div class="main-panel">
      <div class="container">
        <div class="page-inner">
          <div class="page-header">
            <h4 class="page-title">Products</h4>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="d-flex align-items-center form-group">
                    <!-- <label class="mr-2" for="gsearch">Search Products : </label> -->
                    <!-- <input
                      type="search"
                      class="form-control mr-5"
                      placeholder="Search Text"
                      [(ngModel)]="search"
                      id="listSearch"
                    /> -->
                    <!-- <h4 class="card-title">Add products</h4> -->
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      id="multi-filter-select"
                      class="display table table-striped table-hover"
                    >
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Product Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let product of products; index as i">
                          <td scope="row">{{ i + 1 }}</td>
                          <td>{{product}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Custom template | don't include it in your project! -->
  
    <!-- End Custom template -->
  </div>