<div class="wrapper">
  <app-admin-navigation></app-admin-navigation>
  <!-- Sidebar -->
  <app-admin-sidebar></app-admin-sidebar>
  <div class="main-panel">
    <div class="container">
      <div class="page-inner">
        <div class="page-header">
          <h4 class="page-title">Role Management </h4>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex align-items-center">
                  <!-- <h4 class="card-title">Subscribers</h4> -->
                  <label class="mr-2" for="gsearch">Search :</label>
                  <input type="search" id="gsearch" name="gsearch" [(ngModel)]="searchField">
                  <br />

                  <button class="btn btn-primary btn-round ml-auto mr-2" [routerLink]="['/admin/addRole']"
                    routerLinkActive="router-link-active" data-toggle="modal" data-target="#addRowModal">

                   <b>+ </b> Add Role
                  </button>

                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table id="add-row" class="display table table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Organization</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Designation</th>
                        <th>Department</th>
                        <th>Employee ID</th>
                        <th>Admin</th>
                        <th style="width: 10%">Action</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let role of roles  |search:searchField ">
                        <td>{{role.name}}</td>
                        <td>{{role.role}}</td>
                        <td>{{role.organization}}</td>
                        <td>{{role.email}}</td>
                        <td>{{role.phone}}</td>
                        <td>{{role.designation}}</td>
                        <td>{{role.department}}</td>
                        <td>{{role.employeeID}}</td>
                        <td>{{role.Admin}}</td>
                        <td>
                          <div class="form-button-action">
                            <button type="button" data-toggle="tooltip" data-target="#upmodel" data-toggle="modal"
                              (click)="toUpdate(role)" class="btn btn-link btn-primary btn-lg"
                              data-original-title="Edit Task">
                              <i class="material-icons">edit</i>

                            </button>
                            <button type="button" data-toggle="modal" data-target="#modelId" title=""
                              (click)="deleteRole(role._id)" class="btn btn-link btn-danger"
                              data-original-title="Remove">
                              <i class="material-icons">delete</i>

                            </button>
                            <!-- <button type="button" title="" class="btn btn-link " data-original-title="Remove">
                              <i class="fa fa-toggle-on" aria-hidden="true"></i>
                            </button> -->
                            <!-- <button type="button" title="" class="btn btn-link " data-original-title="Remove">
                              <i class="fa fa-eye" aria-hidden="true"></i>

                            </button> -->
                          </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Custom template -->
  </div>


  <!-- Edit Model -->
  <div class="modal fade right side-modal" id="upmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-side modal-top-right" role="document">
      <div class="modal-content">
        <div style="background-color: rgb(18, 47, 86);" class="modal-header">
          <h2 class="modal-title w-100 text-white" id="myModalLabel">
            Edit Role Mangement Details
          </h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #roleEdit= "ngForm">
          <div class="modal-body">
            <div class="form-group">
              <label>Name : {{roll.name}} </label>
              <input style="display: none;" name="_id" ngModel="{{roll._id}}" />
            </div>
            <div class="form-group">
              <label>Role: {{roll.role}}</label>
              <input class="form-control" style="display: none;" name="role" ngModel="{{ roll.role}}" />
            </div>
            <div class="form-group">
              <label>Organization: {{roll.organization}}</label>
              <!-- <input class="form-control" name="org" ngModel="{{ roll.organization}}" /> -->
            </div>
            <div class="form-group">
              <label>Contact</label>
              <input class="form-control" name="phone" ngModel="{{ roll.phone}}" />
            </div>
            <div class="form-group">
              <label>EmployeeID</label>
              <input class="form-control" name="emp" ngModel="{{ roll.employeeID}}" />
            </div>
            <div class="form-group">
              <label>E-mail</label>
              <input class="form-control" name="mail" ngModel="{{ roll.email}}" />
            </div>
            <div class="form-group">
              <label>Designation</label>
              <input class="form-control" name="designation" ngModel="{{ roll.designation}}" />
            </div>
            <div class="form-group">
              <label>Department</label>
              <input class="form-control" name="department" ngModel="{{ roll.department}}" />
            </div>
            <div class="form-group">
              <div class="card-body">
                <dual-list [ngModel] class="form-control" [source]="source" [(destination)]="confirmed"
                  [format]="format" [filter]="filter" height="150px"></dual-list>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              Close
            </button>
            <button (click)="cusUpdate(roleEdit)" type="button" class="btn btn-primary" data-dismiss="modal">
              Save Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>




  <!-- Delete modal -->
  <div class="modal fade" id="modelId">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Video</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <i class="fa fa-exclamation-triangle text-danger"></i>&nbsp;Are Your
          Sure To Delete?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">
            Close
          </button>
          <button (click)="finalDelete()" data-dismiss="modal" type="button" class="btn btn-danger">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
