<div class="wrapper">
  <app-xuser-navigation></app-xuser-navigation>
  <!-- Sidebar -->
  <app-xuser-sidebar></app-xuser-sidebar>

  <div class="main-panel">
    <div class="container">
      <div class="page-inner">
        <h4 class="page-title">Dashboard</h4>
        <div class="page-category">Welcome! Your work all in one place.</div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="card-title">
                  My Requests - Overall incoming status
                </div>
              </div>
              <div class="row ml-3">
                <div class="col-md-4 mt-2">
                  <div class="form-group form-group-default">
                    <label>Filter</label>
                    <select class="form-control" id="gender">
                      <option>All Vendors</option>
                      <option>IU-1</option>
                      <option>EU</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2 mt-2">
                  <div class="form-group form-group-default">
                    <label>Filter through time</label>
                    <select class="form-control" id="gender">
                      <option>All time</option>
                      <option>15 Days</option>
                      <option>30 Days</option>
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="card-body">
                <div class="chart-container">
                  <div class="row mt-2 ">
                    <div class="col-md-2">
                      <h5>Vendor Qualification :</h5>
                    </div>
                    <div class="col-md-3">
                      <p>
                        <ngb-progressbar type="success" [value]="40"
                          >Completed</ngb-progressbar
                        >
                      </p>
                    </div>
                    
                    <div class="col-md-3">
                      <a [routerLink]="['/myRequest']" routerLinkActive="router-link-active" >
                        <p>
                          <ngb-progressbar
                            type="warning"
                            [value]="50"
                            [striped]="true"
                            [animated]="true"
                            ><i>In process</i></ngb-progressbar
                          >
                        </p></a>
                        
                    
                    </div>
                    <div class="col-md-3">
                      <p>
                        <ngb-progressbar
                          type="danger"
                          [value]="45"
                          [striped]="true"
                          >Pending</ngb-progressbar
                        >
                      </p>
                    </div>
                  </div>
                  <div class="row mt-2 ">
                    <div class="col-md-2">
                      <h5>Quality Affairs :</h5>
                    </div>
                    <div class="col-md-3">
                      <p>
                        <ngb-progressbar type="success" [value]="60"
                          >Completed</ngb-progressbar
                        >
                      </p>
                    </div>
                    <div class="col-md-3">
                      <p>
                        <ngb-progressbar
                          type="warning"
                          [value]="40"
                          [striped]="true"
                          [animated]="true"
                          ><i>In process</i></ngb-progressbar
                        >
                      </p>
                    </div>
                    <div class="col-md-3">
                      <p>
                        <ngb-progressbar
                          type="danger"
                          [value]="80"
                          [striped]="true"
                          >Pending</ngb-progressbar
                        >
                      </p>
                    </div>
                  </div>
                  <div class="row mt-2 ">
                    <div class="col-md-2">
                      <h5>DMF :</h5>
                    </div>
                    <div class="col-md-3">
                      <p>
                        <ngb-progressbar type="success" [value]="90"
                          >Completed</ngb-progressbar
                        >
                      </p>
                    </div>
                    <div class="col-md-3">
                      <p>
                        <ngb-progressbar
                          type="warning"
                          [value]="75"
                          [striped]="true"
                          [animated]="true"
                          ><i>In process</i></ngb-progressbar
                        >
                      </p>
                    </div>
                    <div class="col-md-3">
                      <p>
                        <ngb-progressbar
                          type="danger"
                          [value]="100"
                          [striped]="true"
                          >Pending</ngb-progressbar
                        >
                      </p>
                    </div>
                  </div>
                  <div class="row mt-2 ">
                    <div class="col-md-2">
                      <h5>Reissue COA :</h5>
                    </div>
                    <div class="col-md-3">
                      <p>
                        <ngb-progressbar type="success" [value]="50"
                          >Completed</ngb-progressbar
                        >
                      </p>
                    </div>
                    <div class="col-md-3">
                      <p>
                        <ngb-progressbar
                          type="warning"
                          [value]="75"
                          [striped]="true"
                          [animated]="true"
                          ><i>In process</i></ngb-progressbar
                        >
                      </p>
                    </div>
                    <div class="col-md-3">
                      <p>
                        <ngb-progressbar
                          type="danger"
                          [value]="100"
                          [striped]="true"
                          >Pending</ngb-progressbar
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <div class="card-title">My Products</div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <!-- <div *ngFor="let product of products" class="row">
                  <div class="col">
                    <h4 class="ml-2  mt-2">{{ product.productName }}</h4>
                  </div>
                  <div class="col">
                    <h4 class="ml-5 mt-2">{{ product.CASNumber }}</h4>
                  </div>
                </div> -->
                <!-- <canvas id="barChart"></canvas> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Chart with HTML Legends</div>
            </div>
            <div class="card-body">
              <div class="card-sub">
                Sometimes you need a very complex legend. In these cases, it
                makes sense to generate an HTML legend. Charts provide a
                generateLegend() method on their prototype that returns an HTML
                string for the legend.
              </div>
              <div class="chart-container">
                <canvas id="htmlLegendsChart"></canvas>
              </div>
              <div id="myChartLegend"></div>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>

  <!-- Custom template | don't include it in your project! -->

  <!-- End Custom template -->
</div>
<!--   Core JS Files   -->
