<div class="main-header">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="blue">
        
        <a href="index.html" class="logo">
            <img src="../../../assets/moxieDB logo_20191024.png" width="200" height="55" alt="navbar brand" class="navbar-brand">
        </a>
    </div>
    <!-- End Logo Header -->

    <!-- Navbar Header -->
    <nav class="navbar navbar-header" data-background-color="blue2">
        
        <div class="container-fluid">

        <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
          <li class="navbar-nav topbar-nav ml-md-auto align-items-center">
            <button class="btn btn-danger" (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End Navbar -->
</div>