<div class="main-header">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="blue">

        <a  class="logo">
            <img src="../../../assets/moxieDB logo_20191024.png" width="200" height="55" alt="navbar brand" class="navbar-brand">
        </a>
    </div>
    <nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">
        <div class="container-fluid">
           <button class="btn btn-primary" (click)="logout()">Logout</button>
        </div>
    </nav>
    <!-- End Navbar -->
</div>
